<p id="notice"><%= notice %></p>

<p>
  <strong>Begin date:</strong>
  <%= @schoolyear.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @schoolyear.end_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @schoolyear.name %>
</p>

<%= link_to 'Edit', edit_schoolyear_path(@schoolyear) %> |
<%= link_to 'Back', schoolyears_path %>
