<%= form_for(@lesson_template) do |f| %>
  <% if @lesson_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson_template.errors.count, "error") %> prohibited this lesson_template from being saved:</h2>

      <ul>
      <% @lesson_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :rows %>
    <%= f.number_field :rows, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cols %>
    <%= f.number_field :cols, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
