<p id="notice"><%= notice %></p>

<div>
<p>
  <strong>Name:</strong>
  <%= @lesson_template.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson_template.description %>
</p>

<%= link_to 'Edit', edit_lesson_template_path(@lesson_template) %> |
<%= link_to 'Back', lesson_templates_path %>
</div>

<div style='width: 800px; display: inline-block; vertical-align: top;'>
  <%= render :partial => 'show', :object => @lesson_template %>
</div>