<%= form_for(@standardkind) do |f| %>
  <% if @standardkind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standardkind.errors.count, "error") %> prohibited this standardkind from being saved:</h2>

      <ul>
      <% @standardkind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
