<%= form_for(@daykind) do |f| %>
  <% if @daykind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daykind.errors.count, "error") %> prohibited this daykind from being saved:</h2>

      <ul>
      <% @daykind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :school_id %><br>
    <%= f.number_field :school_id %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br>
    <%= f.number_field :semester_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
