<h1>Listing lessons</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Lesson template</th>
      <th>Begin date</th>
      <th>End date</th>
      <th>Lesson state</th>
      <th>Parent</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.user_id %></td>
        <td><%= lesson.lesson_template_id %></td>
        <td><%= lesson.begin_date %></td>
        <td><%= lesson.end_date %></td>
        <td><%= lesson.lesson_state_id %></td>
        <td><%= lesson.parent_id %></td>
        <td><%= lesson.title %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
