<div class='page-header'><h1>Listing lessons</h1></div>

<p><%= link_to 'New Lesson', new_lesson_path, :class => 'btn btn-default' %></p>


<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>User</th>
      <th>Lesson template</th>
      <th>Begin date</th>
      <th>End date</th>
      <th>Lesson state</th>
      <th>Parent</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.user_id %></td>
        <td><%= lesson.lesson_template_id %></td>
        <td><%= lesson.begin_date %></td>
        <td><%= lesson.end_date %></td>
        <td><%= lesson.lesson_state_id %></td>
        <td><%= lesson.parent_id %></td>
        <td><%= lesson.title %></td>
        <td>
		  <div class='btn-group'>
		    <%= link_to 'Show', lesson, class: 'btn btn-default btn-xs' %>
            <%= link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-default btn-xs' %>
            <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %>
		  </div>
	    </td>
      </tr>
    <% end %>
  </tbody>
</table>