<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @standard_domain.subject_id %>
</p>

<p>
  <strong>Standardkind:</strong>
  <%= @standard_domain.standardkind_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @standard_domain.name %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @standard_domain.abbrev %>
</p>

<%= link_to 'Edit', edit_standard_domain_path(@standard_domain) %> |
<%= link_to 'Back', standard_domains_path %>
