<style>
    table {
        background-color: #eee;
        border: 1px solid #666666;
    }

    table tr {
    }

    table tr td {
        background-color: white;
		border: 1px solid;
		padding: 2px;
		margin: 2px;
		height: 100%;
		font-size: 9px;
		line-height: 9px;
    }
</style>


<table>
      <% @standard_domains.each do |standard_domain| %>
		  <tr>
	        <td colspan="<%= @gradelevels.length %>" style="text-align: center; font-size: 18px; line-height: 18px; background-color: pink;"><%= standard_domain.name %></td>
		  </tr>
          <% for i in 1..10 %>
	          <tr>
	   		     <% @gradelevels.each do |gradelevel| %>
	                <td style='background-color: grey; text-align: center;'><%= gradelevel.abbrev %></td>
	   		     <% end %>
	          </tr>
			  <tr>
			    <% @gradelevels.each do |gradelevel| %>
		          <td style="text-align: center; border-radius: 10px;">
					<% standard = gradelevel.standards.find(:first, :conditions => ['standard_domain_id = ? and standard = ?', standard_domain.id, i]) %>
				    <% if standard %>
					<div style='width: 90px;'><%= standard.statement %></div>
					<div style="font-weight: bold; padding: 5px;"><%= standard.domain %>.<%= standard.grade %>.<%= standard.standard %></div>
					<% end %>
				  </td>
			    <% end %>
		      </tr>
		  <% end %>
      <% end %>
</table>