<style>
    .divTable
    {
        display: table;
        width:auto;
        background-color:#eee;
        border: 1px solid  #666666;
        border-spacing:5px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

    .divRow
    {
       display:table-row;
       width:auto;
    }

    .divCell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-cell;
        width:80px;
        background-color:#ccc;
		border: 1px solid;
		padding: 2px;
		margin: 2px;
		height: 100%;
		font-size: 9px;
		line-height: 9px;

    }
</style>


<div class="divTable">
       <div class="headRow">
		   <% @gradelevels.each do |gradelevel| %>
             <div class="divCell" style="text-align: center;"><%= gradelevel.abbrev %></div>
		   <% end %>
      </div>
      <% @standard_domains.each do |standard_domain| %>
		  <div class="divRow">
	        <div class="divCell" style="width: 100%; text-align: center; font-size: 18px;"><%= standard_domain.name %></div>
		  </div>
          <% for i in 1..10 %>
	          <div class="headRow">
	   		     <% @gradelevels.each do |gradelevel| %>
	                <div class="divCell"><%= gradelevel.abbrev %></div>
	   		     <% end %>
	          </div>
			  <div class="divRow">
			    <% @gradelevels.each do |gradelevel| %>
		          <div class="divCell" style="position: relative; height: auto;">
					<% standard = gradelevel.standards.find(:first, :conditions => ['standard_domain_id = ? and standard = ?', standard_domain.id, i]) %>
				    <% if standard %>
					<%= standard.statement %>
					<%= standard.statement_code %>
					<% end %>
				  </div>
			    <% end %>
		      </div>
		  <% end %>
      <% end %>
</div>