<p id="notice"><%= notice %></p>

<p>
  <strong>Lang:</strong>
  <%= @standard.lang %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @standard.ref_id %>
</p>

<p>
  <strong>Ref uri:</strong>
  <%= @standard.ref_uri %>
</p>

<p>
  <strong>Number:</strong>
  <%= @standard.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @standard.description %>
</p>

<p>
  <strong>Statement code:</strong>
  <%= @standard.statement_code %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @standard.statement %>
</p>

<p>
  <strong>Learning standard document ref:</strong>
  <%= @standard.learning_standard_document_ref_id %>
</p>

<p>
  <strong>Learning standard item ref:</strong>
  <%= @standard.learning_standard_item_ref_id %>
</p>

<p>
  <strong>Relationship type:</strong>
  <%= @standard.relationship_type %>
</p>

<p>
  <strong>Standardkind:</strong>
  <%= @standard.standardkind_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @standard.parent_id %>
</p>

<p>
  <strong>Lft:</strong>
  <%= @standard.lft %>
</p>

<p>
  <strong>Rgt:</strong>
  <%= @standard.rgt %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @standard.depth %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @standard.subject_id %>
</p>

<p>
  <strong>Iniative:</strong>
  <%= @standard.iniative %>
</p>

<p>
  <strong>Framework:</strong>
  <%= @standard.framework %>
</p>

<p>
  <strong>Set:</strong>
  <%= @standard.set %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @standard.grade %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @standard.domain %>
</p>

<p>
  <strong>Domain desciption:</strong>
  <%= @standard.domain_desciption %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @standard.cluster %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @standard.standard %>
</p>

<p>
  <strong>Component:</strong>
  <%= @standard.component %>
</p>

<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', standards_path %>
